Working with Datapackage

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datapackage

%matplotlib inline

In [2]:
data_url = 'https://pkgstore.datahub.io/machine-learning/hepatitis/hepatitis_json/data/06ce7029f0677bc770ad52e9b273bbfd/hepatitis_json.json'

package = datapackage.Package(data_url)


resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)

DataPackageException: Data must be a 'dict', but was a 'list'

In [3]:
data = pd.read_csv("C:\\Users\\Toyin Obasoro\\Downloads\\hepatitis_csv.csv")

In [4]:
data.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              155 non-null    int64
 1   sex              155 non-null    object
 2   steroid          154 non-null    object
 3   antivirals       155 non-null    bool
 4   fatigue          154 non-null    object
 5   malaise          154 non-null    object
 6   anorexia         154 non-null    object
 7   liver_big        145 non-null    object
 8   liver_firm       144 non-null    object
 9   spleen_palpable  150 non-null    object
 10  spiders          150 non-null    object
 11  ascites          150 non-null    object
 12  varices          150 non-null    object
 13  bilirubin        149 non-null    float64
 14  alk_phosphate    126 non-null    float64
 15  sgot             151 non-null    float64
 16  albumin          139 non-null    float64
 17  protime          88 non-null     float64
 18  histology        155 non-null    bool
 19  class            155 non-null    object
dtypes: bool(2), float64(5), int64(1), object(12)
memory usage: 22.2+ KB

In [6]:
data.isnull().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

In [7]:
# Find the percentage of missing values

(data.isnull().sum()/len(data))*100

age                 0.000000
sex                 0.000000
steroid             0.645161
antivirals          0.000000
fatigue             0.645161
malaise             0.645161
anorexia            0.645161
liver_big           6.451613
liver_firm          7.096774
spleen_palpable     3.225806
spiders             3.225806
ascites             3.225806
varices             3.225806
bilirubin           3.870968
alk_phosphate      18.709677
sgot                2.580645
albumin            10.322581
protime            43.225806
histology           0.000000
class               0.000000
dtype: float64

By using the below code we remove rows on the 'Liver_big' column that are have no value

In [8]:
data.dropna(subset=['liver_big'],axis=0, inplace=True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              145 non-null    int64
 1   sex              145 non-null    object
 2   steroid          144 non-null    object
 3   antivirals       145 non-null    bool
 4   fatigue          145 non-null    object
 5   malaise          145 non-null    object
 6   anorexia         145 non-null    object
 7   liver_big        145 non-null    object
 8   liver_firm       144 non-null    object
 9   spleen_palpable  144 non-null    object
 10  spiders          144 non-null    object
 11  ascites          144 non-null    object
 12  varices          144 non-null    object
 13  bilirubin        141 non-null    float64
 14  alk_phosphate    121 non-null    float64
 15  sgot             143 non-null    float64
 16  albumin          132 non-null    float64
 17  protime          86 non-null     float64
 18  histology        145 non-null    bool
 19  class            145 non-null    object
dtypes: bool(2), float64(5), int64(1), object(12)
memory usage: 21.8+ KB

In [ ]:
data.isnull().sum()/len(data)*100

In [19]:
data.dropna(thresh=0.7*len(data),axis=1,inplace=True)

In [20]:
data.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.000000,18.0,4.0,62.383721,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.000000,42.0,3.5,62.383721,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.000000,32.0,4.0,62.383721,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.000000,52.0,4.0,80.000000,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,105.553719,200.0,4.0,62.383721,False,live

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              145 non-null    int64
 1   sex              145 non-null    object
 2   steroid          144 non-null    object
 3   antivirals       145 non-null    bool
 4   fatigue          145 non-null    object
 5   malaise          145 non-null    object
 6   anorexia         145 non-null    object
 7   liver_big        145 non-null    object
 8   liver_firm       144 non-null    object
 9   spleen_palpable  144 non-null    object
 10  spiders          144 non-null    object
 11  ascites          144 non-null    object
 12  varices          144 non-null    object
 13  bilirubin        141 non-null    float64
 14  alk_phosphate    121 non-null    float64
 15  sgot             143 non-null    float64
 16  albumin          132 non-null    float64
 17  protime          86 non-null     float64
 18  histology        145 non-null    bool
 19  class            145 non-null    object
dtypes: bool(2), float64(5), int64(1), object(12)
memory usage: 21.8+ KB

In [14]:
numeric = data.select_dtypes(include=np.number)
numeric_columns = numeric.columns

In [15]:
data[numeric_columns] = data[numeric_columns].fillna(data.mean())

In [16]:
data.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.000000,18.0,4.0,62.383721,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.000000,42.0,3.5,62.383721,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.000000,32.0,4.0,62.383721,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.000000,52.0,4.0,80.000000,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,105.553719,200.0,4.0,62.383721,False,live

In [ ]:
data.shape

In [21]:
boolean_columns = data.select_dtypes(include=np.object).columns.tolist()
boolean_columns.remove('class')
data[boolean_columns] = data[boolean_columns].astype('bool')

In [22]:
data.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,True,False,False,False,False,False,False,False,False,False,False,False,1.0,85.000000,18.0,4.0,62.383721,False,live
1,50,True,False,False,True,False,False,False,False,False,False,False,False,0.9,135.000000,42.0,3.5,62.383721,False,live
2,78,True,True,False,True,False,False,True,False,False,False,False,False,0.7,96.000000,32.0,4.0,62.383721,False,live
3,31,True,True,True,False,False,False,True,False,False,False,False,False,0.7,46.000000,52.0,4.0,80.000000,False,live
4,34,True,True,False,False,False,False,True,False,False,False,False,False,1.0,105.553719,200.0,4.0,62.383721,False,live

In [24]:
data[boolean_columns].fillna(data.mode()).head()

,sex,steroid,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices
0,True,False,False,False,False,False,False,False,False,False,False
1,True,False,True,False,False,False,False,False,False,False,False
2,True,True,True,False,False,True,False,False,False,False,False
3,True,True,False,False,False,True,False,False,False,False,False
4,True,True,False,False,False,True,False,False,False,False,False

In [25]:
data.isnull().sum()/len(data)*100

age                0.0
sex                0.0
steroid            0.0
antivirals         0.0
fatigue            0.0
malaise            0.0
anorexia           0.0
liver_big          0.0
liver_firm         0.0
spleen_palpable    0.0
spiders            0.0
ascites            0.0
varices            0.0
bilirubin          0.0
alk_phosphate      0.0
sgot               0.0
albumin            0.0
protime            0.0
histology          0.0
class              0.0
dtype: float64